html {
	font-family: 'Montserrat', sans-serif;
}


*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	min-height: 100vh;
	background-color: #f6ebeb;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -27px;
	background: url("./background.jpg") center center/cover no-repeat fixed;
	object-fit: contain;
	flex-wrap: wrap;
}

.subject {
	margin-top: 41px;
	margin-bottom: 10px;
	padding: 14px 19px;
	border-radius: 25px;
	box-shadow: inset -3px -3px 10px #fff, inset 3px 3px 10px rgb(0 0 0 / 15%);
}

.product {
	display: flex;
	flex-wrap: wrap;
}

.calculator {
	height: 65vh;
	min-width: 370px;
	max-width: 370px;
}

.display {
	width: 100%;
	width: 386px;
	min-height: 22%;
	max-height: min-content;
	background-color: #f3ecec;
	box-shadow: inset -3px -3px 10px #fff, inset 3px 3px 10px rgba(0, 0, 0, 0.15);
	word-break: break-all;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 30px;
	padding: 20px;
	margin: 6px 10px;
	margin-bottom: 23px;
	font-size: 15px;
}

.currentNumber {
	font-size: 35px;
}

.previousNumber {
	color: rgb(182, 182, 182);
	font-size: 20px;
}

.mathSign {
	font-size: 20px;
}

.container {
	height: 704px;
	width: 437px;
	padding: 20px 14px;
	box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 46%);
	border-radius: 32px;
}

.panel {
	height: 80%;
	width: 386px;
	/* margin-right: 20px; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 2px;
}

button {
	width: 95px;
	height: 95px;
	margin: 3px;
	font-size: 25px;
	background-color: #f3ecec;
	box-shadow: -3px -3px 10px #fff, 3px 3px 10px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	border: none;
	outline: none;
	transition: all 0.2s ease-in-out;
	border-radius: 50%;
}

.equal {
	width: 88px;
	height: 195px;
	margin: 7px 7px;
	border-radius: 50px;
}

button:hover {
	background-color: #efdede;
	box-shadow: inset -3px -3px 10px #fff, inset 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.equals {
	grid-row: -1/-3;
	grid-column: -2/-1;
}

.calculator-history {
	/* height: 65vh; */
	height: 645px;
	margin-top: 29px;
	margin-right: 20px;
	width: 150px;
	background-color: #f3ecec;
	box-shadow: inset -3px -3px 10px #fff, inset 3px 3px 10px rgba(0, 0, 0, 0.15);
	padding: 5px 10px;
	font-weight: bold;
	text-align: center;
	margin-left: 30px;
	border-radius: 30px;
}

.history {
	list-style: none;
}

.history-title {
	margin-top: 20px;
	padding-bottom: 10px;
}

.history-btn {
	background-color: #f6ebeb;
	height: 35px;
	width: 206px;
	border: none;
	font-size: 15px;
	padding: 8px;
	border-radius: 30px;
	cursor: pointer;
	display: none;
	outline: none;
	margin: 5px auto;
}

.history-btn.active {
	display: block;
}

.history-item {
	margin: 8px 0px;
	letter-spacing: 1px;
	border-bottom: 1px solid rgba(29, 27, 27, 0.233);
	padding-bottom: 5px;
}

.creator{
	display: flex;
	text-decoration: none;
	margin-top: 20px;
    margin-left: 111px;
}
.creator a{
	color: whitesmoke;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
    letter-spacing: 5px;
}

.cp-text{
	margin-top: 2px;
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}


/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {	

	body {
		zoom: 0.6;
		width: 100%;
		touch-action: manipulation;
	}
	.subject{
		margin-top: 52px;
		margin-bottom: 39px;
	}
	button {
		
		width: 106px;
		height: 98px;
	}

	.equal {
		width: 90px;
		height: 198px;
		margin: 7px 13px;
		border-radius: 120px;
	}

	.calculator-history {
		height: 200px;
		width: 645px;
	}

	.product {

		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;

	}
	
	.display{
		width: 435px;
		height: 190px;
	}

	.container{
		height: 786px;
		width: 484px;
	}

	.creator {
		margin-top: 24px;
	}
	.cp-text{
		margin-top: 15px;
	}
} 